.lot_page {
  padding:20px;
}

.page_status {
  margin-top:16px;
  color: #387AF2;
  font-size: 16px;
  font-weight: 500;
  margin-bottom:-2px;
}

.page_lot {
  font-size: 36px;
  font-weight: 800;
  margin-bottom:6px;
}

.page_neft {
  font-size: 18px;
  font-weight: 700;
  margin-bottom:-2px;
}

.page_fuel {
  font-size: 18px;
  font-weight: 700;
  margin-bottom:12px;
}

.page_create {
  font-size: 16px;
  font-weight: 500;
  margin-bottom:6px;
}

.page_priceForOne {
  margin-top:6px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom:2px;
}

.page_button {
  width: 200px;
  background-color: #387AF2;
}
